@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
  font-family: 'Poppins',sans-serif;
}

.card{   
  background: #f1f3f6;
  border-radius: 20px;
  box-shadow: 
    inset 0 0 15px rgba(55, 84, 170,0),
    inset 0 0 20px rgba(255, 255, 255,0),
    7px 7px 15px rgba(55, 84, 170,.15),
    -7px -7px 20px rgba(255, 255, 255,1),
    inset 0px 0px 4px rgba(255, 255, 255,.2);
  flex: 1 0 0;
  width: 100px;  
  padding:20px;
  margin:20px;
  text-align: center;    
 }

 .card .heading{
   font-size: 1em;
   padding-bottom: 1em;
 }

 .card:nth-child(even){
  
  position:relative;
  top:15px;
 }

 
  
 .container {
    display: flex;
    flex-wrap: wrap;    
  } 

 

  .card .responsive {
    width: 100%;
    height: auto;
    padding-bottom: 0.5em;
  }

  .previous {
    background-color: #f1f1f1;
    color: black;
    position: absolute;
    top: 10px;
    left: 10px; 
    font-size: 2em;     
    padding: 30px;
  }
  .product{
    display: flex;
    flex-direction: column;
  }
  
  .title
  {
    position: relative;   
    
  }
  
 
  .responsive {
      width: 100%;
      height: auto;
      
    }
  
    